*{margin: 0;
padding: 0;
box-sizing: border-box;
}



header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px 5px 25px;
    align-items: center;
}

.logo-studio {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #ffffff;
}


.logo-studio div img{
    width: 200px;
    height: 100%;
}



.navBar{
    display: flex;
    flex-wrap: wrap;    
    list-style: none;
    gap: 5px;
    font-size: x-large;
    font-weight: lighter;

}

.navBar li a{
    color: rgb(184, 184, 184);
    text-decoration: none;
    padding: 30px 15px;
    border-radius: 20px 0px 20px;
    font-family: "Bebas Neue", sans-serif;
}

.navBar li a:hover{
    color: white;

}

.home{
    padding: 30px 15px;
    border-radius: 20px 0px 20px;
    background-color: #AF0000;
}
.we{
    padding: 30px 15px;
    border-radius: 20px 0px 20px;
    background-color: #800000;
}
.services{
    padding: 30px 15px;
    border-radius: 20px 0px 20px;
    background-color: #5A0000;
}
.location{
    padding: 30px 15px;
    border-radius: 20px 0px 20px;
    background-color: #390000;
}
.contacts{
    padding: 30px 15px;
    border-radius: 20px 0px 20px;
    background-color: #210000;
}


body{
    width: 100%;
}

main{
    background-color: rgb(196, 196, 196);
    width: 100%;
    height: 1600px;
}



.banner{
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url(../assets/img/foto-b1.jpg);
    animation: animation 15s infinite linear;
}

.banner-content{
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.76);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animation {
    0%{
        background-image: url(../assets/img/foto-b1.jpg);
    }
    33%{
        background-image: url(../assets/img/foto-b1.jpg);
    }
    34%{
        background-image: url(../assets/img/foto-b2.jpg);
    }
    66%{
        background-image: url(../assets/img/foto-b2.jpg);
    }
    67%{
        background-image: url(../assets/img/foto-b3.jpg);
    }
    100%{
        background-image: url(../assets/img/foto-b3.jpg);
    }
}


.flexbox1{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.flexbox1 article h2{
    display: flex;
    flex-direction: row;
    width: 33.33%;
}

.ppp{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: "Bebas Neue", sans-serif;
}

.ppp a{
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}

.p1{
    background-color: #5A0000;

}

.p2{
    background-color: #7A0000;
}

.p3{
    background-color: #960000;
}

.productos-inicio{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
}
.flexbox2{
    width: 100%;
    display: flex;
    margin: 15px;
    gap: 10px;

}

.card{
    width: 100%;
    height: 450px;
    border-radius: 30px 0px 30px;
    box-shadow: 2px 2px 5px 5px #858585;
    overflow: hidden;

}
.card div img{
    width: 100%;
    height: 390px;

}
.card .card-info{
    text-align: center;
}
.card-info h3{
    margin-top: 10px;
}

.flexbox3{
    width: 100%;
    display: flex;
    margin: 15px;
    gap: 10px;

}

.card{
    width: 200px;
    height: 440px;
    margin-top: 15PX;
    border-radius: 30px 0px 30px;
    box-shadow: 2px 2px 5px 5px #858585;
    overflow: hidden;
    background-color: #b41b1bad;

}
.card div img{
    width: 100%;
    height: 390px;

}
.card .card-info{
    font-family: "Bebas Neue", sans-serif;
    color: white;
    text-align: center;
}
.card .card-info h3{
    font-weight: lighter;

}

.position4 img{
    object-fit: cover;
}

.position5 img{
    object-fit: cover;
}

.parrafoProductos{
    width: 100%;
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    padding: 50px 35px;
    font-size: x-large;
}

.parrafoPromos{
    width: 100%;
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    padding: 50px 35px;
    font-size: x-large;
}

.parrafoPortfolio{
    width: 100%;
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    padding: 50px 35px;
    font-size: x-large;
}


.main-container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "main"
    ;
}

.main-container main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows:  repeat(8, 1fr);
    background-color: #0000009c;
}

.main-grid a{
    width: 100%;
    height: 100%;
}

.main-grid a{
    display: grid;
    grid-column-start: 4;
    grid-column-end: 6;
    align-items: center;
    justify-items: center;
}


.main-grid a img{
    width: 100%;
    height: 100%;
    padding: 70px 40px;
}  


.main-grid h1{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align:start;
    align-items: end;
    border-bottom: 5px solid rgb(214, 0, 0);
    margin-bottom: 100px;
    font-family: "Bebas Neue", sans-serif;
}

.main-grid p{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding-right: 10px;
    text-align: justify;
}

.main-grid div{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.main-grid img{
    display: grid;
    width: 100%;
    height: 100%;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 7;
    padding: 2% 0% 0% 10%;

}    


.mainServicios{
    width: 100%;
    height: 900px;
}

.titulo-servicios{    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
}

.titulo-servicios h1{ 
    margin-top: 100px;
    width: 58%;
    border-bottom: 4px solid #D60000;
    margin-bottom: 10px;
}

.cards {
    margin-top: 40px;
}

.card-servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 100px;
    background-color:#530303e5;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 2px 2px 3px 3px #696969;
    font-family: "Bebas Neue", sans-serif;
}


.card-servicios h2{
    color: white;
    font-weight: lighter;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 50px;
}


.card-servicios p{
    width: 100%;
    height: 100%;
    text-align: center;
    color: #858585;
}

.mainUbicacion{
    width: 100%;
    height: 850px;
    background-color: #5A0000;
}

.titulo-ubicacion{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
}

.titulo-ubicacion h3{
    color: white;
    margin-top: 100px;
    width: 58%;
    font-weight: lighter;
    border-bottom: 4px solid #D60000;
    margin-bottom: 10px;
}

.parrafoUbicacion p{
    color: white;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-family: "Bebas Neue", sans-serif;
}

.iframeUbicacion a{
    width: 600px;
    display: flex;
    justify-content: center;
    background-color: #210000;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px 30px;
    overflow: hidden;

}

.main-contactos{
    width: 100%;
    height: 950px;
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    flex-direction: row;
    background-size: cover;
    background-image: url(../assets/img/fondoBN.jpg); 
}



.redes-sociales{
    width: 50%;
    height: 100%;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.redes-sociales a{
    color: white;
    padding: 25px;
    background-color: #5A0000;
    border-radius: 45%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.541);
    transition: all .4s ease-in-out;
}

.redes-sociales a:hover{
    background-color:#8b0d0d;
    transform: scale(1.2);
}



form{
    width: 300px;
    height: 530px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 50px 50px;
    box-shadow: 0 0 10px;
    border-radius: 30px;
    background-color:#5A0000;
    margin-left: 0px;
}

.formulario{
    display: flex;
    flex-direction: column;
    text-align: left;
}

form h1{
    color:#ffffff;
    text-align: center;
    font-weight: lighter;
}

.formulario label{
    color: #949494;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}


.formulario input, textarea{
    border-radius: 5px;
    border: none;
    padding: 5px 0px;
}

.formulario input::placeholder, textarea::placeholder{
    color: #770000b0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.boton-enviar{
    background-color: #AF0000;
    font-size: 17px;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
}


.boton-enviar:hover{
    background-color:#830505;
}



footer{
    width: 100%;
    height: 200px;
    background-color: #390000;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

footer div{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-top: 50px;
    width: 400px;
}

.direction-footer h4{
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 5px solid rgb(214, 0, 0);
    font-weight: bolder;
}

.contacts-footer h4{
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 5px solid rgb(214, 0, 0);
    font-weight: bolder;
}


.contacts-footer section{
    margin-top: 15px;
}

.contacts-footer a{
    color: white;
    background-color: #ff000093;
    padding: 5px;
    border-radius: 50%;
}


@media (max-width:768px){
    header{
        width: 100%;
        height: 60px;
    }
    .logo-studio div img{
        width: 100px;
    }
    .navBar{
        flex-wrap: nowrap;
        width: 100%;
    }

    .navBar li a{
        width: 70px;
        font-size: 20px;
    }

    .home{
        padding: 10px 5px;
        border-radius: 12px 0px 12px;
    }
    .we{
        padding: 10px 5px;
        border-radius: 12px 0px 12px;
    }
    .services{
        padding: 10px 5px;
        border-radius: 12px 0px 12px;
    }
    .location{
        padding: 10px 5px;
        border-radius: 12px 0px 12px;
    }
    .contacts{
        padding: 10px 5px;
        border-radius: 12px 0px 12px;
    }
    
    .direction-footer{
        margin-top: 30px;
        width: 30%;
    }
    .contacts-footer{
        margin-top: 30px;
        width: 30%;
    }

}

@media (max-width:425px){
    header{
        height: 90px;
    }
    .logo-studio{
        flex-direction: column;
        padding: 10px ;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .navBar li a{
        width: 100%;
        font-size: 15px;
    }

    .home{
        margin-top: 10px;
        padding: 6px 4px;
        border-radius: 10px 0px 10px;
    }
    .we{
        margin-top: 10px;
        padding: 6px 4px;
        border-radius: 10px 0px 10px;
    }
    .services{
        margin-top: 10px;
        padding: 6px 4px;
        border-radius: 10px 0px 10px;
    }
    .location{
        margin-top: 10px;
        padding: 6px 4px;
        border-radius: 10px 0px 10px;
    }
    .contacts{
        margin-top: 10px;
        padding: 6px 4px;
        border-radius: 10px 0px 10px;
    }
    .card-servicios{
        width: 350px;
    }
    .main-contactos{
        flex-direction: column;
    }

    .redes-sociales{
        flex-direction: row;
        width: 100%;
        height: 200px;
        margin-top: 50px;
        gap: 20px;
        font-size: 35px;
    }

    form{
        margin: auto;

}
    footer{
        height: 150px;
    }
    .direction-footer{
        font-size: 10px;
    }

    .contacts-footer{
        font-size: 10px;

    }

}

@media (max-width:375px){
    header{
        width: 100%;
        height: 320px;
    }
    .logo-studio div img{
        width: 150px;
    }
    .navBar{
        gap: 1px;
        flex-direction: column;
        text-align: center;
    }
    .navBar li a{
        width: 100%;
        font-size: 30px;
    }
    .home{
        padding: 1px 90px;
    }
    .we{
        padding: 1px 90px;
    }
    .services{
        padding: 1px 90px;
    }
    .location{
        padding: 1px 90px;
    }
    .contacts{
        padding: 1px 90px;
    }
    .card-servicios{
        width: 300px;
    }
    .redes-sociales{
        font-size: 30px;
    }
} 

@media (max-width:320px){
    header{
        width: 100%;
        height: 320px;
    }
    .logo-studio div img{
        width: 150px;
    }
    .navBar{
        gap: 1px;
        flex-direction: column;
        text-align: center;
    }
    .navBar li a{
        width: 100%;
        font-size: 30px;
    }
    .home{
        padding: 1px 90px;
    }
    .we{
        padding: 1px 90px;
    }
    .services{
        padding: 1px 90px;
    }
    .location{
        padding: 1px 90px;
    }
    .contacts{
        padding: 1px 90px;
    }
    .card-servicios{
        width: 270px;
    }
}

