* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.logo-studio {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px 5px 25px;
  align-items: center;
  display: flex;
  position: sticky;
  top: 0;
  background-color: #ffffff; }
  .logo-studio div img {
    width: 200px;
    height: 100%; }
  .logo-studio nav .navBar {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 5px;
    font-size: x-large;
    font-weight: lighter; }
    .logo-studio nav .navBar .home, .logo-studio nav .navBar .we, .logo-studio nav .navBar .services, .logo-studio nav .navBar .location, .logo-studio nav .navBar .contacts {
      padding: 30px 15px;
      border-radius: 20px 0px 20px;
      background-color: #AF0000; }
    .logo-studio nav .navBar .we {
      background-color: #800000; }
    .logo-studio nav .navBar .services {
      background-color: #5A0000; }
    .logo-studio nav .navBar .location {
      background-color: #390000; }
    .logo-studio nav .navBar .contacts {
      background-color: #210000; }
    .logo-studio nav .navBar li a {
      color: #b8b8b8;
      text-decoration: none;
      padding: 30px 15px;
      border-radius: 20px 0px 20px;
      font-family: "Bebas Neue", sans-serif; }
      .logo-studio nav .navBar li a:hover {
        color: white; }

body {
  width: 100%; }

main {
  background-image: linear-gradient(to right top, #67040f, #7a0614, #8d0818, #a10b1c, #b50f20, #b20d20, #af0c21, #ac0a21, #91051d, #770318, #5e0212, #460109);
  width: 100%;
  height: 100%; }
  main .banner {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url(../assets/img/foto-b1.jpg);
    animation: animation 15s infinite linear; }
    main .banner .banner-content {
      width: 100%;
      height: 100%;
      color: rgba(255, 255, 255, 0.76);
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      display: flex;
      justify-content: center;
      align-items: center; }

@keyframes animation {
  0% {
    background-image: url(../assets/img/foto-b1.jpg); }
  33% {
    background-image: url(../assets/img/foto-b1.jpg); }
  34% {
    background-image: url(../assets/img/foto-b2.jpg); }
  66% {
    background-image: url(../assets/img/foto-b2.jpg); }
  67% {
    background-image: url(../assets/img/foto-b3.jpg); }
  100% {
    background-image: url(../assets/img/foto-b3.jpg); } }
  main .flexbox1 {
    width: 100%;
    display: flex;
    flex-direction: row; }
    main .flexbox1 .ppp {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      font-family: "Bebas Neue", sans-serif; }
      main .flexbox1 .ppp h2 {
        display: flex;
        flex-direction: row;
        width: 100%; }
        main .flexbox1 .ppp h2 a {
          width: 100%;
          height: 100%;
          color: white;
          text-align: center;
          font-size: 40px; }
        main .flexbox1 .ppp h2 .p1 {
          background-color: #5A0000; }
  main .productos-inicio {
    display: flex;
    flex-direction: column; }
    main .productos-inicio .primera-parte {
      width: 100%; }
      main .productos-inicio .primera-parte .flexbox2 {
        width: 100%;
        display: flex;
        margin-top: 20px;
        gap: 30px;
        justify-content: space-evenly;
        justify-content: center; }
        main .productos-inicio .primera-parte .flexbox2 .card {
          width: 200px;
          height: 440px;
          margin-top: 20px;
          border-radius: 30px 0px 30px;
          box-shadow: 2px 2px 5px 5px #b14141;
          overflow: hidden;
          background-color: #000000; }
          main .productos-inicio .primera-parte .flexbox2 .card div img {
            width: 100%;
            height: 390px;
            object-fit: cover; }
          main .productos-inicio .primera-parte .flexbox2 .card .card-info {
            font-family: "Bebas Neue", sans-serif;
            color: white;
            text-align: center; }
            main .productos-inicio .primera-parte .flexbox2 .card .card-info h3 {
              margin-top: 10px;
              font-weight: lighter; }
    main .productos-inicio .parrafoProductos {
      width: 100%;
      font-family: "Bebas Neue", sans-serif;
      display: flex;
      padding: 50px 35px;
      font-size: x-large; }
      main .productos-inicio .parrafoProductos p {
        margin: auto;
        color: white; }
  main .segunda-parte {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px; }
    main .segunda-parte .section-promos1 article {
      width: 600px;
      height: 910px;
      margin: auto;
      margin-top: 28px;
      border-radius: 30px 30px;
      overflow: hidden; }
      main .segunda-parte .section-promos1 article div {
        margin: auto; }
        main .segunda-parte .section-promos1 article div img {
          width: 100%;
          height: 100%; }
    main .segunda-parte .parrafoPromos1 {
      width: 100%;
      font-family: "Bebas Neue", sans-serif;
      display: flex;
      padding: 50px 35px;
      font-size: x-large; }
      main .segunda-parte .parrafoPromos1 p {
        margin: auto;
        color: white; }
    main .segunda-parte .section-promos2 .card-promos2 {
      width: 600px;
      height: 910px;
      margin: auto;
      margin-top: 28px;
      border-radius: 30px 30px;
      overflow: hidden; }
      main .segunda-parte .section-promos2 .card-promos2 div {
        margin: auto; }
        main .segunda-parte .section-promos2 .card-promos2 div img {
          width: 100%;
          height: 1000px; }
    main .segunda-parte .parrafoPromos2 {
      width: 100%;
      font-family: "Bebas Neue", sans-serif;
      display: flex;
      padding: 50px 35px;
      font-size: x-large; }
      main .segunda-parte .parrafoPromos2 p {
        margin: auto;
        color: white; }
  main .tercera-parte {
    width: 100%;
    height: 100%; }
    main .tercera-parte .section-portfolio .card-portfolio {
      width: 1300px;
      height: 600px;
      margin-top: 30px;
      margin: 30px auto 0px auto;
      border-radius: 30px 30px;
      overflow: hidden; }
      main .tercera-parte .section-portfolio .card-portfolio div img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    main .tercera-parte .parrafoPortfolio {
      width: 100%;
      font-family: "Bebas Neue", sans-serif;
      display: flex;
      padding: 50px 35px;
      font-size: x-large; }
      main .tercera-parte .parrafoPortfolio p {
        margin: auto;
        color: white; }

.main-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "main"; }
  .main-container main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: #0000009c; }
    .main-container main a {
      width: 100%;
      height: 100%;
      display: grid;
      grid-column-start: 4;
      grid-column-end: 6;
      align-items: center;
      justify-items: center; }
      .main-container main a img {
        width: 100%;
        height: 100%;
        padding: 70px 40px; }
    .main-container main h1 {
      display: grid;
      grid-column-start: 2;
      grid-column-end: 4;
      text-align: start;
      align-items: end;
      border-bottom: 5px solid #d60000;
      margin-bottom: 100px;
      font-family: "Bebas Neue", sans-serif;
      font-weight: lighter;
      font-size: 30px;
      color: white; }
    .main-container main p {
      display: grid;
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 5;
      font-size: 30px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: white;
      padding-right: 10px;
      text-align: justify; }
    .main-container main div {
      display: grid;
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 5;
      grid-row-end: 7;
      font-size: 30px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: white; }
    .main-container main img {
      display: grid;
      width: 100%;
      height: 100%;
      grid-column-start: 4;
      grid-column-end: 8;
      grid-row-start: 2;
      grid-row-end: 7;
      padding: 2% 0% 0% 10%; }

.mainServicios {
  width: 100%;
  height: 900px; }
  .mainServicios section div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif; }
    .mainServicios section div h1 {
      color: white;
      font-size: 25px;
      font-weight: lighter;
      margin-top: 100px;
      width: 58%;
      border-bottom: 4px solid #000000;
      margin-bottom: 10px; }
  .mainServicios section article {
    margin-top: 40px; }
    .mainServicios section article div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 400px;
      height: 100px;
      background-color: #530303e5;
      margin: auto;
      margin-bottom: 10px;
      margin-top: 10px;
      border-radius: 20px 0px 20px 0px;
      box-shadow: 2px 2px 3px 3px #b14141;
      font-family: "Bebas Neue", sans-serif; }
      .mainServicios section article div h2 {
        color: white;
        font-weight: lighter;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 50px; }
      .mainServicios section article div p {
        width: 100%;
        height: 100%;
        text-align: center;
        color: #858585; }

.mainUbicacion {
  width: 100%;
  height: 850px;
  background-image: linear-gradient(to right top, #67040f, #7a0614, #8d0818, #a10b1c, #b50f20, #b20d20, #af0c21, #ac0a21, #91051d, #770318, #5e0212, #460109); }
  .mainUbicacion section article div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif; }
    .mainUbicacion section article div h3 {
      color: white;
      margin-top: 100px;
      width: 58%;
      font-weight: lighter;
      font-size: 25px;
      border-bottom: 4px solid #000000;
      margin-bottom: 10px; }
  .mainUbicacion .parrafoUbicacion div p {
    color: white;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-family: "Bebas Neue", sans-serif; }
  .mainUbicacion .parrafoUbicacion .iframeUbicacion a {
    width: 600px;
    display: flex;
    justify-content: center;
    background-color: #210000;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid white;
    border-radius: 30px 30px;
    overflow: hidden; }

.main-contactos {
  width: 100%;
  height: 950px;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  flex-direction: row;
  background-size: cover;
  background-image: url(../assets/img/fondoBN.jpg); }
  .main-contactos .redes-sociales {
    width: 50%;
    height: 100%;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px; }
    .main-contactos .redes-sociales a {
      color: white;
      padding: 25px;
      background-color: #5A0000;
      border-radius: 45%;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.541);
      transition: all .4s ease-in-out; }
      .main-contactos .redes-sociales a:hover {
        background-color: #8b0d0d;
        transform: scale(1.2); }
  .main-contactos form {
    width: 300px;
    height: 530px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 50px 50px;
    box-shadow: 0 0 10px;
    border-radius: 30px;
    background-color: #5A0000;
    margin-left: 0px; }
    .main-contactos form h1 {
      color: #ffffff;
      text-align: center;
      font-weight: lighter; }
    .main-contactos form div {
      display: flex;
      flex-direction: column;
      text-align: left; }
      .main-contactos form div label {
        color: #949494;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px; }
      .main-contactos form div input {
        border-radius: 5px;
        border: none;
        padding: 5px 0px; }
        .main-contactos form div input::placeholder {
          color: #770000b0;
          text-align: center;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
      .main-contactos form div textarea {
        border-radius: 5px;
        border: none;
        padding: 5px 0px; }
        .main-contactos form div textarea::placeholder {
          color: #770000b0;
          text-align: center;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
    .main-contactos form .boton-enviar {
      background-color: #AF0000;
      font-size: 17px;
      font-family: "Bebas Neue", sans-serif;
      color: white;
      border: 1px solid white;
      border-radius: 20px;
      margin-top: 20px;
      padding: 10px; }
      .main-contactos form .boton-enviar:hover {
        background-color: #830505; }

footer {
  width: 100%;
  height: 200px;
  background-color: #390000;
  display: flex;
  justify-content: center;
  justify-content: space-evenly; }
  footer div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-top: 50px;
    width: 400px; }
  footer h4 {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 5px solid #d60000;
    font-weight: bolder; }
  footer .contacts-footer section {
    margin-top: 15px; }
    footer .contacts-footer section a {
      color: white;
      background-color: #ff000093;
      padding: 5px;
      border-radius: 50%; }

@media (max-width: 768px) {
  .logo-studio {
    width: 100%;
    height: 70px; }
    .logo-studio div a img {
      width: 100px; }
    .logo-studio nav .navBar {
      flex-wrap: nowrap;
      width: 100%; }
      .logo-studio nav .navBar .home, .logo-studio nav .navBar .we, .logo-studio nav .navBar .services, .logo-studio nav .navBar .location, .logo-studio nav .navBar .contacts {
        padding: 8px 5px;
        border-radius: 12px 0px 12px; }
      .logo-studio nav .navBar .we {
        padding: 8px 5px;
        border-radius: 12px 0px 12px; }
      .logo-studio nav .navBar .services {
        padding: 8px 5px;
        border-radius: 12px 0px 12px; }
      .logo-studio nav .navBar .location {
        padding: 8px 5px;
        border-radius: 12px 0px 12px; }
      .logo-studio nav .navBar .contacts {
        padding: 8px 5px;
        border-radius: 12px 0px 12px; }
      .logo-studio nav .navBar li a {
        width: 70px;
        font-size: 15px; }
  .mainUbicacion .parrafoUbicacion .iframeUbicacion aiframe {
    width: 600px; }
  footer .direction-footer {
    margin-top: 30px;
    width: 30%; }
  footer .contacts-footer {
    margin-top: 30px;
    width: 30%; } }

@media (max-width: 425px) {
  .logo-studio {
    height: 95px;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px; }
    .logo-studio div a img {
      height: 22px; }
    .logo-studio nav .navBar li a {
      width: 100%;
      font-size: 15px; }
    .logo-studio nav .navBar .home, .logo-studio nav .navBar .we, .logo-studio nav .navBar .services, .logo-studio nav .navBar .location, .logo-studio nav .navBar .contacts {
      margin-top: 10px;
      padding: 6px 1px;
      border-radius: 10px 0px 10px; }
    .logo-studio nav .navBar .we {
      margin-top: 10px;
      padding: 6px 1px;
      border-radius: 10px 0px 10px; }
    .logo-studio nav .navBar .services {
      margin-top: 10px;
      padding: 6px 1px;
      border-radius: 10px 0px 10px; }
    .logo-studio nav .navBar .location {
      margin-top: 10px;
      padding: 6px 1px;
      border-radius: 10px 0px 10px; }
    .logo-studio nav .navBar .contacts {
      margin-top: 10px;
      padding: 6px 1px;
      border-radius: 10px 0px 10px; }
  .card-servicios {
    width: 350px; }
  .mainUbicacion .parrafoUbicacion div p {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    font-size: 15px; }
  .mainUbicacion .parrafoUbicacion .iframeUbicacion a {
    width: 250px;
    height: 300px; }
  .main-contactos {
    flex-direction: column; }
    .main-contactos .redes-sociales {
      flex-direction: row;
      width: 100%;
      height: 50px;
      margin-top: 50px;
      gap: 20px;
      font-size: 35px; }
      .main-contactos .redes-sociales a {
        font-size: 30px; }
    .main-contactos form {
      margin: auto; }
  footer {
    height: 150px; }
    footer .direction-footer {
      font-size: 10px; }
    footer .contacts-footer {
      font-size: 10px; } }

@media (max-width: 375px) {
  .logo-studio {
    width: 100%;
    height: 260px; }
    .logo-studio div img {
      width: 150px; }
    .logo-studio nav .navBar {
      width: 100%;
      gap: 1px;
      flex-direction: column;
      text-align: center; }
      .logo-studio nav .navBar li a {
        width: 100%;
        font-size: 20px; }
      .logo-studio nav .navBar .home, .logo-studio nav .navBar .we, .logo-studio nav .navBar .services, .logo-studio nav .navBar .location, .logo-studio nav .navBar .contacts {
        padding: 8px 60px; }
      .logo-studio nav .navBar .we {
        padding: 1px 60px; }
      .logo-studio nav .navBar .services {
        padding: 1px 60px; }
      .logo-studio nav .navBar .location {
        padding: 1px 60px; }
      .logo-studio nav .navBar .contacts {
        padding: 1px 60px; }
  .card-servicios {
    width: 300px; }
  .mainUbicacion .parrafoUbicacion div p {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    font-size: 15px; }
  .mainUbicacion .parrafoUbicacion .iframeUbicacion a {
    width: 250px;
    height: 300px; }
  .redes-sociales {
    font-size: 30px; } }

@media (max-width: 320px) {
  .logo-studio {
    width: 100%;
    height: 260px; }
    .logo-studio .div img {
      margin-top: 10px;
      width: 120px;
      height: 25px; }
    .logo-studio nav .navBar {
      width: 100%;
      gap: 1px;
      flex-direction: column;
      text-align: center; }
      .logo-studio nav .navBar li a {
        width: 100%;
        font-size: 20px; }
      .logo-studio nav .navBar .home, .logo-studio nav .navBar .we, .logo-studio nav .navBar .services, .logo-studio nav .navBar .location, .logo-studio nav .navBar .contacts {
        padding: 8px 60px; }
      .logo-studio nav .navBar .we {
        padding: 1px 60px; }
      .logo-studio nav .navBar .services {
        padding: 1px 60px; }
      .logo-studio nav .navBar .location {
        padding: 1px 60px; }
      .logo-studio nav .navBar .contacts {
        padding: 1px 60px; } }

.mainServicios section .card-servicios {
  width: 280px;
  height: 70px; }
  .mainServicios section .card-servicios h2 {
    margin-top: 5px;
    font-size: 30px; }
  .mainServicios section .card-servicios p {
    font-size: 15px; }

.mainUbicacion .parrafoUbicacion div p {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  font-size: 15px; }

.mainUbicacion .parrafoUbicacion .iframeUbicacion a {
  width: 250px;
  height: 300px; }
