.main-container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "main";
    main{
        grid-area: main;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows:  repeat(8, 1fr);
        background-color: #0000009c;
        a{
            width: 100%;
            height: 100%;
            @include grid(grid, 4, 6, center, center)
            img{
                width: 100%;
                height: 100%;
                padding: 70px 40px;
            }
        }
        h1{
            display: grid;
            grid-column-start: 2;
            grid-column-end: 4;
            text-align:start;
            align-items: end;
            border-bottom: 5px solid rgb(214, 0, 0);
            margin-bottom: 100px;
            font-family: "Bebas Neue", sans-serif;
        }
        p{
            display: grid;
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 5;
            font-size: 30px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: white;
            padding-right: 10px;
            text-align: justify;
        }
        div{
            display: grid;
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 5;
            grid-row-end: 7;
            font-size: 30px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: white;
        }
        img{
            display: grid;
            width: 100%;
            height: 100%;
            grid-column-start: 4;
            grid-column-end: 8;
            grid-row-start: 2;
            grid-row-end: 7;
            padding: 2% 0% 0% 10%;
        }
    }
}

