.mainUbicacion{
    width: 100%;
    height: 850px;
    background-image: linear-gradient(to right top, #67040f, #7a0614, #8d0818, #a10b1c, #b50f20, #b20d20, #af0c21, #ac0a21, #91051d, #770318, #5e0212, #460109);
    section{
        article{
            div{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-family: "Bebas Neue", sans-serif;
                h3{
                    color: white;
                    margin-top: 100px;
                    width: 58%;
                    font-weight: lighter;
                    border-bottom: 4px solid #000000;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .parrafoUbicacion{
        div{
            p{
                color: white;
                font-size: 20px;
                width: 100%;
                text-align: center;
                margin-top: 20px;
                font-family: "Bebas Neue", sans-serif;
            }
        }
        .iframeUbicacion{
            a{
                width: 600px;
                display: flex;
                justify-content: center;
                background-color: #210000;
                margin: auto;
                margin-top: 50px;
                margin-bottom: 50px;
                border: 2px solid rgb(255, 255, 255);
                border-radius: 30px 30px;
                overflow: hidden;
            }
        }
    }
}
