@media (max-width:1440px){
    .body-size{
        .main-container{
            main{
                a{
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 400px;
                        height: 150px;
                    }
                }
            }
        }
    }
}