@media (max-width:425px){
    .logo-studio{
        height: 95px;
        flex-direction: column;
        padding: 10px ;
        margin-bottom: 10px;
        div{
            a{
                img{
                    height: 22px;
                }
            }
        }
        nav{
            .navBar{
                li{
                    a{
                        width: 100%;
                        font-size: 15px;
                    }
                }
                .home{
                    margin-top: 10px;
                    padding: 6px 1px;
                    border-radius: 10px 0px 10px;
                }
                .we{
                    margin-top: 10px;
                    padding: 6px 1px;
                    border-radius: 10px 0px 10px;
                }
                .services{
                    margin-top: 10px;
                    padding: 6px 1px;
                    border-radius: 10px 0px 10px;
                }
                .location{
                    margin-top: 10px;
                    padding: 6px 1px;
                    border-radius: 10px 0px 10px;
                }
                .contacts{
                    margin-top: 10px;
                    padding: 6px 1px;
                    border-radius: 10px 0px 10px;
                }
            }
        }
    }


    main{
        .productos-inicio{
            .primera-parte{
                .flexbox2{
                    .card{
                        width: 150px;
                        height: 320px;
                        div{
                            img{
                                height: 275px;
                            }
                        }
                    }
                }
                section{
                    .parrafoProductos{
                        p{
                            width: 80%;
                            font-size: 18px;
                            text-align: center;
                        }
                    }
                }
            }
            .segunda-parte{
                div{
                    .section-promos1{
                        article{
                            width: 350px;
                            height: 620px;
                        }
                    }
                    .parrafoPromos1{
                        p{
                            font-size: 18px;
                        }
                    }
                    .section-promos2{
                        article{
                            width: 350px;
                            height: 620px;
                        }
                    }
                    .parrafoPromos2{
                        p{
                            font-size: 18px;
                        }
                    }
                }
            }
            .tercera-parte{
                .section-portfolio{
                    article{
                        width: 350px;
                        height: 250px;
                        div{
                            img{
                                width: 350px;
                                height: 250px;
                            }
                        }
                    }
                }
                .parrafoPortfolio{
                    p{
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .body-size{
        .main-container{
            main{
                grid-template-columns:  repeat(4, 4fr);
                grid-template-rows:  repeat(7, 0.3fr);
                a{
                    @include grid(grid, 2, 4, center, center)
                    img{
                        width: 300px;
                        height: 130px;
                    }
                }
                h1{
                    grid-column-start: 2;
                    grid-column-end: 4;
                    font-size: 18px;
                }
                P{
                    @include grid(grid, 2, 4, center, center)
                    font-size: 15px;
                }
                div{
                    @include grid(grid, 2, 4, center, center)
                    margin-top: 30px;
                    p{
                    }
                }
                img{
                    @include grid(grid, 2, 4, center, center)
                    width: 350px;
                    height: 450px;
                }
            }
        }
    }

    .mainServicios{
        section{
            .p-parrafo{
                width: 70%;
                margin: auto;
                p{
                    text-align: center;
                }
            }
        }
    }
    .card-servicios{
        width: 350px;
    }

    .mainUbicacion{
        .parrafoUbicacion{
            width: 85%;
            div{
                p{
                    width: 80%;
                    margin: auto;
                    margin-top: 20px;
                    font-size: 15px;
                }
            }
            .iframeUbicacion{
                width: 85%;
                margin: auto;
                a{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .main-contactos{
        flex-direction: column;
        .redes-sociales{
            flex-direction: row;
            width: 100%;
            height: 50px;
            margin-top: 100px;
            gap: 20px;
            font-size: 35px;
            a{
                font-size: 30px;
            }
        }
        form{
            margin: auto;
        }
    }
    .body-promos{
        .main-promos{
            h1{
                font-size: 25px;
                padding-top: 130px;
            }
            .container__slider{
                width: 80%;
                height: 550px;
                padding: 50px 40px;
                .container-cards{
                    width: 100%;
                    height: 100%;
                    .cards{
                        width: 100%;
                        height: 100%;
                        .card{
                            width: 75%;
                            height: 350px;
                            img{
                                border-radius: 15px;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }

    footer{
        height: 150px;
        .direction-footer{
            font-size: 10px;
        }
        .contacts-footer{
            font-size: 10px;
        }
    }
}