@media (max-width:320px){
    .logo-studio{
        .div{
            img{
            }
        }
        nav{
            .navBar{
                width: 100%;
                gap: 1px;
                flex-direction: column;
                text-align: center;
                li{
                    a{
                        width: 100%;
                        font-size: 20px;
                    }
                }
                .home{
                    padding: 8px 60px;
                }
                .we{
                    padding: 1px 60px;
                }
                .services{
                    padding: 1px 60px;
                }
                .location{
                    padding: 1px 60px;
                }
                .contacts{
                    padding: 1px 60px;
                }
            }
        }
    }

    .mainServicios{
        section{
            .card-servicios{
                width: 280px;
                height: 70px;
                h2{
                    margin-top: 5px;
                    font-size: 30px;
                }
                p{
                    font-size: 15px;
                }
            }
        }
    }

    .body-promos{
        .main-promos{
            h1{
            }
            .container__slider{
                .container-cards{
                    .cards{
                        .card{
                            width: 75%;
                            height: 250px;
                            img{
                            }
                        }
                    }
                }
            }
        }
    }
}