@media (max-width:375px){
    .logo-studio{
        width: 100%;
        height: 260px;
        div{
            img{
                width: 150px;
            }
        }
        nav{
            .navBar{
                width: 100%;
                gap: 1px;
                flex-direction: column;
                text-align: center;
                li{
                    a{
                        width: 100%;
                        font-size: 20px;
                    }
                }
                .home{
                    padding: 8px 60px;
                }
                .we{
                    padding: 1px 60px;
                }
                .services{
                    padding: 1px 60px;
                }
                .location{
                    padding: 1px 60px;
                }
                .contacts{
                    padding: 1px 60px;
                }
            }
        }
    }
    
    main{
        .productos-inicio{
            .primera-parte{
                section{
                    .parrafoProductos{
                        p{
                            width: 80%;
                            font-size: 15px;
                            text-align: center;
                        }
                    }
                }
            }
            .segunda-parte{
                div{
                    .section-promos1{
                        article{
                            width: 290px;
                            height: 450px;
                        }
                    }
                    .parrafoPromos1{
                        p{
                            font-size: 15px;
                        }
                    }
                    .section-promos2{
                        article{
                            width: 290px;
                            height: 450px;
                        }
                    }
                    .parrafoPromos2{
                        p{
                            font-size: 15px;
                        }
                    }
                }
            }
            .tercera-parte{
                .section-portfolio{
                    article{
                        width: 290px;
                        height: 250px;
                        div{
                            img{
                                width: 290px;
                                height: 250px;
                            }
                        }
                    }
                }
                .parrafoPortfolio{
                    p{
                        font-size: 15px;
                    }
                }
            }
        }
    }
    
    .body-size{
        .main-container{
            main{
                img{
                    @include grid(grid, 2, 4, center, center)
                    width: 250px;
                    height: 350px;
                }
            }
        }
    }

    .card-servicios{
        width: 300px;
    }


    .redes-sociales{
        font-size: 30px;
    }
} 