@media (max-width:375px){
    header{
        width: 100%;
        height: 320px;
    }
    .logo-studio div img{
        width: 150px;
    }
    .navBar{
        gap: 1px;
        flex-direction: column;
        text-align: center;
    }
    .navBar li a{
        width: 100%;
        font-size: 30px;
    }
    .home{
        padding: 1px 90px;
    }
    .we{
        padding: 1px 90px;
    }
    .services{
        padding: 1px 90px;
    }
    .location{
        padding: 1px 90px;
    }
    .contacts{
        padding: 1px 90px;
    }
    .card-servicios{
        width: 300px;
    }
    .redes-sociales{
        font-size: 30px;
    }
} 