@media (max-width:375px){
    .logo-studio{
        width: 100%;
        height: 260px;
        div{
            img{
                width: 150px;
            }
        }
        nav{
            .navBar{
                width: 100%;
                gap: 1px;
                flex-direction: column;
                text-align: center;
                li{
                    a{
                        width: 100%;
                        font-size: 20px;
                    }
                }
                .home{
                    padding: 8px 60px;
                }
                .we{
                    padding: 1px 60px;
                }
                .services{
                    padding: 1px 60px;
                }
                .location{
                    padding: 1px 60px;
                }
                .contacts{
                    padding: 1px 60px;
                }
            }
        }
    }

    .card-servicios{
        width: 300px;
    }

    .mainUbicacion{
        .parrafoUbicacion{
            div{
                p{
                    width: 80%;
                    margin: auto;
                    margin-top: 20px;
                    font-size: 15px;
                }
            }
            .iframeUbicacion{
                a{
                    width: 250px;
                    height: 300px;
                }
            }
        }
    }

    .redes-sociales{
        font-size: 30px;
    }
} 