@media (max-width:768px){
    .logo-studio{
        width: 100%;
        height: 70px;
        div{
            a{
                img{
                    width: 100px;
                }
            }
        }
        nav{
            .navBar{
                flex-wrap: nowrap;
                width: 100%;
                .home{
                    padding: 8px 5px;
                    border-radius: 12px 0px 12px;
                }
                .we{
                    padding: 8px 5px;
                    border-radius: 12px 0px 12px;
                }
                .services{
                    padding: 8px 5px;
                    border-radius: 12px 0px 12px;
                }
                .location{
                    padding: 8px 5px;
                    border-radius: 12px 0px 12px;
                }
                .contacts{
                    padding: 8px 5px;
                    border-radius: 12px 0px 12px;
                }
                li{
                    a{
                        width: 70px;
                        font-size: 15px;
                    }
                }
            }
        }
    }

    main{
        .productos-inicio{
            .segunda-parte{
                display: flex;
                flex-wrap: wrap;
            }
            .tercera-parte{
                .section-portfolio{
                    article{
                        width: 650px;
                        height: 300px;
                    }
                }
            }
        }
    }

    footer{
        .direction-footer{
            margin-top: 30px;
            width: 30%;
    }
        .contacts-footer{
            margin-top: 30px;
            width: 30%;
    }
}
}